.row1{
	margin-top: 20px;
}
.formImagen{
	margin-top: 20px;
}

.tituloPerfil{
	text-align: center;
}

.datosPerfil{
	font-weight: 700;
}

.tablaCompras{
	margin-top: 30px;
}

.btSeparacion{
	margin: 10px;
}