.barraProgreso{
	line-height: 40px;
	font-size: 20px;
	
}

.capaProgreso{
	margin-top:100px;
	height:40px;
}

.botonSubmitExamen{
	display:none;
}

.imagenExamen{
	margin-left:100px;	
}
.tam{
	width:600px;
	height: 350px;
	margin-left: 280px;
	font-weight: bold;
	font-size: 20px;
}
.textoAprobado{
	margin-left: 70px;
}

#ralentizar{
	display: none;
}