body {

  background-image: url(../images/asterio.jpg);
  
  /*Que la imagen este centrada siempre */
  background-position: center center;
  
  /* Que la imagen no se repita */
  background-repeat: no-repeat;
  
  /* Hace que la imagen estenfija en la ventana para que no se mueva cuando la altura del contenido es mayor que la altura de la imagen */
  background-attachment: fixed;
  
  /* Hace que cubra toda la pagina independiente del tamaño */
  background-size: cover;
  
  /* Color del fondo mientras la imagen se carga*/
  background-color:#464646;
  
   
}

.sinPermiso{
	text-align:center;
	margin-top: 100px;
	color:#fff;
	
}

.sinPermiso a{
	font-weight: 700;
	color:#59B2E0;
}