
.navbar {
	position:relative;
	min-height:50px;
	margin-bottom:0px;
	border:1px solid transparent;
}

.caracteristicas {
	width: 80%;
	height: 300px;
	margin-top: 20px;
	
}
.caracteristicas th{
	text-align: center;
	font-size: 26px;
	color: rgba(38, 38, 164, 0.88);
	font-weight: 900;
}
.caracteristicas td{
	font-weight: 700;
	width: 30%;
	text-align: center;
	padding:300px;
}

.textoPersonaje{
	margin-top: 20px;
}

.imagepj{
	margin-left: 150px;
	
}
