.tituloMejoras{
	text-align: center;
}

.tablaMejoras{
	    margin-top: -50px;
}

.tablaMejoras th{
	text-align: center;
	font-size: 26px;
	color: #59B2E0;
	font-weight: 900;
}
.tablaMejoras td{
	font-weight: 700;
	width: 30%;
	text-align: center;
	padding:300px;
}

.pie{
	background-color: #dbdbdb;
}

.compraExito{
	width: 400px;
    margin: 0 auto;
    margin-top: 50px;
	
}

