.tituloAsignaturas{
	text-align: center;
}

.tablaAsignaturas th{
	text-align: center;
	font-size: 26px;
	color: #59B2E0;
	font-weight: 900;
}
.tablaAsignaturas td{
	font-weight: 700;
	width: 30%;
	text-align: center;
	padding:300px;
}

.formularioExamen{
	padding: 10px;
}
.divform{
	padding-bottom:10px;
}